@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

$mockup-light-blue: #e1f0fb;
$mockup-grey: #828282;

.members-tab {
  background-color: $mockup-light-blue;

  @include Laptop {
    border-radius: 0.5vw;
    border: 0.2vw solid #000;
    width: 81.5vw;
    padding: 45px 32px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 4.6vw;

    &-heading {
      margin-right: 1rem;
      @include SubHeader;

      &--alt {
        color: $mockup-grey;
      }
    }
  }

  &__members {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-member {
      background-color: $MVP-White;
      border: 1px solid $MVP-black;
      border-radius: 16px;
      display: flex;
      justify-content: space-between;
      padding: 0.5vw 1.1vw;
      align-items: center;
      margin-bottom: 2vw;
      width: 35.7vw;
      height: 7.3vw;

      &-icon {
        width: 3.4vw;
        height: 3.4vw;
      }

      &-left {
        display: flex;
      }

      &-profile-pic {
        width: 5vw;
        height: 5vw;
        margin-right: 1vw;
        border-radius: 50%;
      }

      &-writing {
        display: flex;
        flex-direction: column;

        &-name {
          @include SubHeader;
        }

        &-role {
          @include Body;
          color: $mockup-grey;
        }
      }
    }
  }
}
