@use '../../styles/variables' as *;

$mockup-light-blue: #E1F0FB;
$mockup-grey: #828282;

.members-tab {
    background-color: $mockup-light-blue;
    border-radius: 8px;

    padding: 2vw;

    &__header {
        display: flex;
        align-items: center;

        margin-bottom: 2vw;
        font-size: 1.7rem;

        &-heading {
            margin-right: 1rem;
        }

        &-groupnum {
            color: $mockup-grey;
        }
    }

    &__members {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-member {
            background-color: $MVP-White;
            border: 1px solid $MVP-black;
            border-radius: 16px;

            display: flex;
            justify-content: space-between;

            width: 47%;

            padding: .5vw 1vw;
            margin-bottom: 2vw;

            &-left {
                // border: 2px solid red;

                width: 60%;
                display: flex;
            }

            &-profile-pic {
                width: 4vw;
                height: 4vw;

                margin-right: 1vw;
            }

            &-writing {
                // border: 2px solid orange;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &-name {
                    font-size: 1.9rem;
                }

                &-role {
                    font-size: 1.6rem;
                    color: $mockup-grey;
                }
            }
        }
    }

}