@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.loginpage {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3vw 5vw;
  align-items: center;

  @include tablet {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: unset;
  }

  &__image {
    width: 40%;
    height: 22%;
    margin: 1rem 0;

    @include tablet {
      width: 45%;
      height: 50%;
      margin: 1rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;

    @include tablet {
      width: 60%;
      height: 100%;
    }
  }

  &__heading {
    width: 100%;
    font-size: 1.6rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;

    @include tablet {
      margin-bottom: 2rem;
      font-size: 2rem;
      text-align: left;
    }
    @include laptop {
      margin-bottom: 2rem;
      font-size: 2.5rem;
      text-align: left;
    }
  }

  &__writing {
    margin: 2rem;
    @include tablet {
      margin: 1rem;
    }
  }

  &__sso {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    @include tablet {
      flex-direction: column;
      align-items: center;
      justify-content: unset;
      width: 100%;
      height: 100%;
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      @include tablet {
        width: 85%;
        height: fit-content;
        font-family: "Gilroy";
        font-size: 1.5rem;
        padding: 1rem 0.55rem;
        border-radius: 2rem;
        margin: 0.5rem 0;
      }

      &--google {
        @include tablet {
          &::after {
            content: "Google";
          }
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  &__input {
    margin: 0.5rem 0;
    width: 100%;
    padding: 0.5rem 0.7rem;
    border-radius: 1.5625rem;
  }

  &__forgot-link {
  }

  &__forgot {
    color: #525354;
  }

  &-icon {
    width: 100%;

    @include tablet {
      display: none;
    }
  }
}
