@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.loginpage {
  display: flex;
  flex-direction: column;
  padding: 3vw 5vw;
  align-items: center;

  @include Laptop {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: unset;
  }

  &__image {
    width: 50%;
    margin: 1rem 0;

    @include Laptop {
      margin: 1rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;

    @include Laptop {
      width: 60%;
      height: 100%;
      justify-content: space-evenly;
    }
  }

  &__heading {
    @include SSO-Title;
    width: 100%;
    margin: 1rem 0;
    text-align: center;

    @include Laptop {
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }
  }

  &__writing {
    font-size: 4vw;
    margin: 0.5rem;
    @include Laptop {
      margin: 1rem;
      font-size: 2vw;
    }
  }

  &__sso {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    @include Laptop {
      justify-content: center;
    }

    &-button {
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      width: 22%;
    }

    &-icon {
      width: 75%;

      @include Laptop {
        width: 50%;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  &__input {
    @include SSO-Input;
  }

  &__button {
    margin: 1rem 0;
    @include Laptop {
      width: 50%;
      margin: 1rem 0;
    }
  }

  &__forgot {
    font-size: 2.5vw;
    margin: 0 3vw;
    color: $MVP-Dark-Blue;

    @include Laptop {
      font-size: 0.7vw;
      margin: 0 1vw;
    }
    &-link {
      align-self: flex-start;
      @include Laptop {
        align-self: unset;
        text-align: left;
        width: 50%;
      }
    }
  }
}
