@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.button {
  color: $MVP-black;
  border-radius: 6vw;
  border: none;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 6.2vw;
  padding: 2vw 3vw;
  box-shadow: 0px 0.2rem 0.2rem 0px rgba(0, 0, 0, 0.25);

  &--yellow {
    background-color: $MVP-Yellow; /* Add yellow background color */
  }

  @include Desktop {
    padding: 0.5vw 1vw;
    font-size: 1.6vw;
  }

  &--yellow-alt {
    background-color: $MVP-Yellow;
    color: $MVP-black;
    font-size: 7.5vw;
    width: 100%;
    padding: 3vw 3vw;
    @include laptop {
      font-size: 1.4vw;
      padding: 1vw 0vw;
    }
  }

  &--blue {
    background-color: $MVP-Light-Blue;
    color: $MVP-White;
    font-size: 7.5vw;
    width: 100%;
    padding: 3vw 3vw;
    @include laptop {
      font-size: 1.4vw;
      padding: 1vw 0vw;
    }
  }
}
