@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.event-profile {
  padding: 40px 20px;

  @include Tablet {
    display: flex;
  }
  &-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    // width: 100%;
  }
  &-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  &-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  &-header {
    width: 100%;
    line-height: 40px !important;
    font-size: 25px;
  }
  &-header-trash-icon {
    font-size: 25px;
  }
  &-content-edit-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @include Tablet {
      flex-direction: row;
    }
  }
  &-content-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.communiti {
  //   height: 100%;
  //   width: 100%;
  //   font-family: Gilroy;
  //   line-height: 115.645%;

  &__card {
    display: flex;
    // flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 7px;
    margin: 1rem 0;
    max-width: 300px;

    @include Tablet {
      //   max-width: 300px;
    }

    @include Laptop {
      // 1024px
    }
    @include Desktop {
      // 1440px
      flex-direction: column;
    }

    &-profile-pic {
      width: 125px;
      height: 135px;
      object-fit: cover;

      @include Laptop {
        // height: 13.2vw;
      }
      @include Desktop {
        width: 100%;
        // height: 13.2vw;
      }
      @include Designers {
        // height: 12.1875rem;
      }
    }

    &-bottom-container {
      width: 100%;
    }
    &-bottom-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 125px;
      margin: 5px;
    }

    &-heading {
      color: $MVP-black;
      line-height: 115.645%; /* 28.911px */
      align-self: stretch;
      font-size: 0.875rem;
    }
    &-button-div-container {
      @include Desktop {
        align-self: flex-end;
      }
    }

    &-arrow-button {
      align-self: flex-end;
      border: none;
      background-color: transparent;
      width: 30px;
      cursor: pointer;

      @include Laptop {
        height: 2.2vw;
        width: 2.2vw;
      }
      @include Desktop {
        height: 2.2vw;
        width: 2.2vw;
      }
      @include Designers {
        width: 2rem;
        height: 2rem;
      }

      &-img {
        width: 100%;
      }
    }
  }
}
