@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.event-profile {
  padding: 40px 20px;

  @include Tablet {
    display: flex;
  }
  &__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
  }
  &__image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  &__header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  &__header {
    width: 100%;
    line-height: 40px !important;
    font-size: 25px;
  }
  &__header-trash-icon {
    margin-left: 10px;
    color: gray;
    font-size: 35px;
  }
  &__content {
    &-edit-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      @include Tablet {
        flex-direction: row;
      }
    }
    &-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    &-text {
      color: gray;
      font-size: 14px;
      margin-bottom: 20px;
    }
    &-details {
      &-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 15px;
      }
      &-div {
        display: flex;
      }
      &-image {
        width: 22px;
      }
      &-text {
        margin-left: 10px;
        font-size: 18px;
      }
    }
  }
  &__edit {
    &-container {
      align-self: flex-end;

      @include Tablet {
        align-self: flex-start;
        margin-left: 50px;
      }

      @include Laptop {
        margin-left: 150px;
      }
    }
    &-button {
      margin: 0;
      background: rgb(9, 84, 176);
      color: white;
      width: 170px;
      height: 44px;
      border: none;
      border-radius: 10px;
      font-family: Corben;
    }
  }
  &__communiti {
    &-header {
      font-size: 16px;

      @include Laptop {
        font-size: 18px;
      }
    }
    &-card {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      border-radius: 7px;
      margin: 1rem 0 2rem;
      max-width: 300px;

      @include Desktop {
        flex-direction: column;
      }
      @include Tablet {
        margin-bottom: 0;
      }
      &-profile-pic {
        width: 125px;
        height: 135px;
        object-fit: cover;

        @include Desktop {
          width: 100%;
        }
      }

      &-bottom {
        &-container {
          width: 100%;
        }
        &-inner-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 125px;
          margin: 10px 5px 0;
        }
      }
      &-heading {
        color: $MVP-black;
        line-height: 115.645%;
        align-self: stretch;
        font-size: 0.7rem;

        @media screen and (min-width: 299px) {
          font-size: 0.8rem;
        }

        @media screen and (min-width: 450px) {
          font-size: 0.875rem;
        }
      }
      &-button-div-container {
        @include Desktop {
          align-self: flex-end;
        }
      }
      &-arrow-button {
        align-self: flex-end;
        border: none;
        background-color: transparent;
        width: 30px;
        cursor: pointer;

        @include Laptop {
          height: 2.2vw;
          width: 2.2vw;
        }
        @include Desktop {
          height: 2.2vw;
          width: 2.2vw;
        }
        @include Designers {
          width: 2rem;
          height: 2rem;
        }

        &-img {
          width: 100%;
        }
      }
    }

    &-organizer-container {
      @include Tablet {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__organizer {
    &-card {
      display: flex;
      border: 1px solid black;
      max-width: 300px;
      padding: 4px 8px;
      border-radius: 10px;
      margin-top: 1rem;

      @include Tablet {
        min-width: 300px;
      }
      &-profile-pic {
        width: 40px;
        &-container {
          display: flex;
        }
      }
      &-details {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        flex-grow: 1;

        &-paragraph-name {
          font-size: 0.7rem;
          @media screen and (min-width: 299px) {
            font-size: 0.8rem;
          }
          @media screen and (min-width: 450px) {
            font-size: 0.875rem;
          }
        }
        &-paragraph-title {
          font-size: 0.7rem;
          color: gray;
          @media screen and (min-width: 299px) {
            font-size: 0.8rem;
          }
          @media screen and (min-width: 450px) {
            font-size: 0.875rem;
          }
        }
        &-chat-emoji {
          width: 25px;

          &-container {
            display: flex;
          }
        }
      }
    }
  }
}
