@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.event-profile {
  padding: 40px 20px;
  font-family: Gilroy;

  @include Tablet {
    display: flex;
  }
  &__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
  }
  &__image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  &__header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 35px;

    @include Tablet {
      flex-direction: row;
    }
  }
  &__header {
    width: 100%;
    line-height: 40px !important;
    font-size: 35px;
  }
  &__header-trash-icon {
    margin-left: 10px;
    color: gray;
    font-size: 35px;
    cursor: pointer;
  }
  &__content {
    &-communiti-organizer-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3rem;
      @include Tablet {
        flex-direction: row;
      }
    }
    &-communiti-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      @include Tablet {
        // flex-direction: row;
      }
    }
    &-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    &-text {
      color: gray;
      font-size: 20px;
      margin-bottom: 20px;

      @include Tablet {
        font-size: 25px;
      }
    }
    &-details {
      &-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 15px;
      }
      &-div {
        display: flex;
      }
      &-image {
        width: 22px;
      }
      &-text {
        margin-left: 10px;
        font-size: 20px;
        @include Laptop {
          font-size: 25px;
        }
      }
    }
  }
  &__edit {
    &-calendar-container {
      align-self: flex-end;
      @include Tablet {
        align-self: flex-start;

        margin-left: 50px;
      }

      @include Laptop {
        margin-left: 150px;
      }
    }
    &-container {
      align-self: flex-end;

      @include Tablet {
        align-self: flex-start;
        // margin-left: 50px;
      }

      @include Laptop {
        // margin-left: 150px;
      }
    }
    &-button {
      margin: 0;
      background-color: rgba(0, 153, 255, 1);
      color: black;
      width: 170px;
      height: 44px;
      border: 3px solid black;
      border-radius: 8px;
      font-family: Gilroy;
      cursor: pointer;
      font-size: 20px;

      @include Tablet {
        font-size: 22px;
      }
      &-inner-div {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
      }
    }
  }
  &__communiti {
    &-header {
      font-size: 20px;

      @include Laptop {
        font-size: 25px;
      }
    }
    &-card {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      border-radius: 7px;
      margin: 1rem 0 2rem;
      max-width: 300px;
      cursor: pointer;
      transition: transform 0.3s ease; /* Added transition for smooth movement */

      &:hover {
        transform: translateY(-5px); /* Adjust the value as needed */
      }

      @include Desktop {
        flex-direction: column;
      }
      @include Tablet {
        margin-bottom: 0;
      }
      &-profile-pic {
        width: 125px;
        height: 135px;
        object-fit: cover;

        @include Desktop {
          width: 100%;
        }
      }

      &-bottom {
        &-container {
          width: 100%;
        }
        &-inner-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 125px;
          margin: 10px 5px 0;
        }
      }
      &-heading {
        color: $MVP-black;
        line-height: 115.645%;
        align-self: stretch;
        font-size: 0.7rem;

        @media screen and (min-width: 299px) {
          font-size: 1rem;
        }

        @media screen and (min-width: 450px) {
          font-size: 1.3rem;
        }
      }
      &-button-div-container {
        @include Desktop {
          align-self: flex-end;
        }
      }
      &-arrow-button {
        align-self: flex-end;
        border: none;
        background-color: transparent;
        width: 30px;
        cursor: pointer;

        @include Laptop {
          height: 2.2vw;
          width: 2.2vw;
        }
        @include Desktop {
          height: 2.2vw;
          width: 2.2vw;
        }
        @include Designers {
          width: 2rem;
          height: 2rem;
        }

        &-img {
          width: 100%;
        }
      }
    }

    &-organizer-container {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      @include Tablet {
        // justify-content: space-between;
      }
    }
  }

  &__organizer {
    &-card {
      display: flex;
      border: 1px solid black;
      max-width: 350px;
      padding: 4px 8px;
      border-radius: 10px;
      margin-top: 0.25rem;

      @include Tablet {
        min-width: 350px;
      }
      &-profile-pic {
        width: 40px;
        &-container {
          display: flex;
        }
      }
      &-details {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        flex-grow: 1;

        &-paragraph-name {
          font-size: 0.7rem;
          @media screen and (min-width: 299px) {
            font-size: 1rem;
          }
          @media screen and (min-width: 450px) {
            font-size: 1.3rem;
          }
        }
        &-paragraph-title {
          font-size: 0.7rem;
          color: gray;
          @media screen and (min-width: 299px) {
            font-size: 0.8rem;
          }
          @media screen and (min-width: 450px) {
            font-size: 0.875rem;
          }
        }
        &-chat-emoji {
          width: 25px;

          &-container {
            display: flex;
          }
        }
      }
    }
  }
  &__registrants {
    margin-top: 15px;
    &-outer-div {
      display: flex;
      justify-content: space-between;
    }
    &-header {
      font-size: 18px;

      @include Laptop {
        font-size: 23px;
      }
    }
    &-inner-div {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
    &-card {
      display: flex;
      border: 1px solid black;
      max-width: 350px;
      padding: 4px 8px;
      border-radius: 10px;
      margin-top: 0.25rem;

      @include Tablet {
        min-width: 350px;
      }
      &-profile-pic {
        width: 40px;
        &-container {
          display: flex;
        }
      }
      &-details {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        flex-grow: 1;

        &-paragraph-name {
          font-size: 0.7rem;
          @media screen and (min-width: 299px) {
            font-size: 1rem;
          }
          @media screen and (min-width: 450px) {
            font-size: 1.3rem;
          }
        }
        &-paragraph-title {
          font-size: 0.7rem;
          color: gray;
          @media screen and (min-width: 299px) {
            font-size: 0.8rem;
          }
          @media screen and (min-width: 450px) {
            font-size: 0.875rem;
          }
        }
        &-going-container {
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: center;
          background-color: rgba(152, 255, 159, 0.29);
          padding: 0px 20px;
          height: 25px;
          width: 100px;
          border-radius: 15px;
        }
      }
    }
  }
  &__edit-event {
    position: fixed;
    top: 5%;
    left: 5%;

    @include Tablet {
      top: 10%;
      left: 10%;
    }
    @include Laptop {
      top: 15%;
      left: 16%;
    }
  }
}
