@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.communities {
  height: 100%;
  width: 100%;
  font-family: Gilroy;
  line-height: 115.645%;

  &__contents {
    @include Laptop {
      padding: 3.3vw 6.7vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  &__create-container {
    background: #c8e7fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78.5vw;

    @include Laptop {
      padding: 2.2vw 5.6vw;
      margin: 0 auto;
    }
  }

  &__subheading {
    @include Body;
  }

  &__button {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1875rem solid #000;
    background: $MVP-Yellow;
    color: $MVP-black;
    cursor: pointer;

    @include Laptop {
      width: 22vw;
      height: 3.5vw;
      border-radius: 0.5vw;
    }

    @include Desktop {
      width: 22vw;
      height: 3.5vw;
      border-radius: 0.5vw;
    }
    @include Designers {
      width: 19.9375rem;
      height: 2.9375rem;
      border-radius: 0.5rem;
    }
    &-icon {
      @include Laptop {
        width: 1.7vw;
        height: 1.7vw;
      }
      @include Desktop {
        width: 1.7vw;
        height: 1.7vw;
      }
      @include Designers {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &-text {
      font-family: Gilroy;
      line-height: 115.645%;
      @include Buttons;
      @include Laptop {
        padding: 0px 1.1vw;
      }
    }
  }

  &__joined {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include Laptop {
      margin: 4.2vw 0 0 0;
    }
    @include Desktop {
      margin: 4.2vw 0 0 0;
    }
    @include Designers {
      margin: 3.75rem 0 0 0;
    }

    &-heading {
      color: $MVP-black;

      @include Laptop {
        font-size: 2.1vw;
      }
      @include Desktop {
        font-size: 2.1vw;
      }
      @include Designers {
        font-size: 1.875rem;
      }

      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #85bbfb;

        @include Laptop {
          padding: 0.7vw;
          gap: 0.625rem;
          border-radius: 0.5vw;
        }

        @include Desktop {
          padding: 0.7vw;
          gap: 0.625rem;
          border-radius: 0.5vw;
        }
        @include Designers {
          padding: 0.625rem;
          gap: 0.625rem;
          border-radius: 0.5rem;
        }
      }
    }

    &-text {
      color: $MVP-Dark-Blue;
      font-family: Gilroy;
      text-align: center;
      border: none;
      background-color: transparent;

      @include Laptop {
        font-size: 1.1vw;
      }
      @include Desktop {
        font-size: 1.1vw;
      }
      @include Designers {
        font-size: 1rem;
      }
    }
  }

  &__cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include Laptop {
      margin: 3.75rem 0;
    }
    @include Desktop {
      margin: 3.75rem 0;
    }
    @include Designers {
      margin: 3.75rem 0;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    @include Laptop {
      border-radius: 1vw 1vw 0px 0px;
      margin: 1rem 0;
      width: 19.5vw;
    }
    @include Desktop {
      border-radius: 1vw 1vw 0px 0px;
      margin: 1rem 0;
      width: 19.5vw;
    }

    @include Designers {
      border-radius: 1.25rem 1.25rem 0px 0px;
      margin: 1rem 0;
      width: 280px;
    }
    &-profile-pic {
      width: 100%;

      @include Laptop {
        height: 13.2vw;
      }
      @include Desktop {
        height: 13.2vw;
      }
      @include Designers {
        height: 12.1875rem;
      }
    }

    &-bottom-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @include Laptop {
        width: 100%;
        padding: 1.5vw;
        gap: 0.6vw;
      }

      @include Desktop {
        width: 100%;
        padding: 1.5vw;
        gap: 0.6vw;
      }

      @include Designers {
        width: 17.5rem;
        padding: 1rem 1.5rem 1.5rem 1.5rem;
        gap: 0.5rem;
      }
    }

    &-heading {
      color: $MVP-black;
      line-height: 115.645%; /* 28.911px */
      align-self: stretch;

      @include Laptop {
        font-size: 1.73611vw;
        height: 4vw;
      }
      @include Desktop {
        font-size: 1.73611vw;
        height: 4vw;
      }
      @include Designers {
        font-size: 1.5625rem;
        height: 3.625rem;
      }
    }

    &-arrow-button {
      align-self: flex-end;
      border: none;
      background-color: transparent;
      cursor: pointer;

      @include Laptop {
        height: 2.2vw;
        width: 2.2vw;
      }
      @include Desktop {
        height: 2.2vw;
        width: 2.2vw;
      }
      @include Designers {
        width: 2rem;
        height: 2rem;
      }

      &-img {
        width: 100%;
      }
    }
  }
}
