@font-face {
  font-family: "Corben";
  src: url("../../public/Corben-Bold.ttf") format("truetype");
  font-weight: 700; /* Use 700 for bold */
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../public/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 700; /* Use 700 for bold */
  font-style: normal;
}