// Primary Colors
$MVP-black: #000000;
$MVP-Light-Blue: #0099ff;
$MVP-White: #ffffff;
$MVP-Yellow: #ffd22f;

// Secondary Colors
$MVP-Dark-Blue: #0954b0;
$MVP-Red: #ff7070;
$MVP-Cream: #fff9f4;

// Thrid colors

$MVP-Gray: #525354;
$MVP-LightGray: #1e1e1e;
$MVP-Not-Active-Blue: #98c4fa;
