@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

$mockup-light-blue: #e1f0fb;

.events-tab {
  @include Laptop {
    width: 81.5vw;
    height: 17.7vw;
    padding: 4vw 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-background {
    background-color: $mockup-light-blue;
    background: #e1f0fb;
    border-radius: 0.5vw;
    border: 0.2vw solid #000;
    padding: 3vw 3vw;
    width: 81.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__none {
    background-color: rgba($MVP-Light-Blue, 0.2);
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 71.8vw;
    padding: 2.3vw 2.8vw;
    margin-bottom: 30px;
    height: 9.5vw;

    &-writing {
      @include Body;
      width: 38.1vw;
    }

    &-button {
      @include Buttons;
      border: 0.2vw solid $MVP-black;
      border-radius: 0.5vw;
      padding: 1vw;
      background-color: $MVP-Yellow;
      cursor: pointer;

      @include Laptop {
        width: 26vw;
      }
    }
  }

  &__some {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 77.4vw;
    margin-bottom: 30px;
    height: 9.5vw;
  }

  &__date {
    &-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5vw;
    }
    &-input {
      display: flex;
      padding: 0.8vw 0.5vw;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      border-radius: 0.5vw;
      border: 0.1vw solid #000;
      cursor:text;

      /* Mobile - Body */
      font-family: Gilroy;
      font-size: 1.5vw;
      font-style: normal;
      font-weight: 800;
      line-height: 115.645%;

      &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }

      &::-webkit-datetime-edit {
        text-transform: uppercase;
      }
    }

    &-text {
      @include Body;
    }

    &s-container {
      display: flex;
      align-items: center;
    }
  }
}
