@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.chat {
  display: flex;
  padding: 1.4vw;

  background: linear-gradient(
    to bottom,
    #c8e7fb 5%,
    $MVP-White 20%,
    $MVP-White 20%
  );
  background-repeat: no-repeat;

  &__sidebar {
    background-color: #bfe5ff;

    @include Laptop {
      width: 26vw;
      height: 88.6vw;
      padding: 1.1vw;
      border: 0.3vw solid black;
      border-radius: 0.5vw;
    }
  }
  &__title {
    @include SubHeader;
  }

  &__title-edit {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    background: none;
    border: none;

    @include Laptop {
      width: 2.8vw;
      height: 2.8vw;
    }

    &-img {
      width: 100%;
      height: 100%;
    }
  }

  &__tabs {
    &-row {
      @include Laptop {
        margin-top: 3.5vw;
        margin-bottom: 2.7vw;
      }
    }

    &-option {
      background-color: rgba(9, 84, 176, 0.5);
      padding: 0.5vw;
      border-radius: 0.9vw;
      border: none;

      /* Mobile - Buttons */
      color: #000;
      text-align: center;
      font-family: Gilroy;
      font-size: 1.4vw;
      font-style: normal;
      font-weight: 800;
      line-height: 115.645%; /* 23.129px */
    }
  }

  &__inbox-tab {
    width: 24.7vw;

    &-item {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 0.5vw;

      .chat__inbox-tab-item-image {
        width: 3.2vw;
        height: 3.2vw;
        border-radius: 50%;
      }

      p {
        @include SubHeader;

        @include Laptop {
          margin-left: 1.7vw;
        }
      }
      &-notification-icon {
        @include Laptop {
          width: 1.6vw;
          height: 1.6vw;
          margin-left: 0.5vw;
          margin-bottom: 1.4vw;
        }
      }
    }
  }

  &__whole-container {
    height: 88.6vw;
    width: 68.7vw;
    margin-left: 2.3vw;
  }
  &__search {
    width: 100%;
    height: 100%;
    padding: 10px;

    @include Laptop {
      /* Mobile - Buttons */
      color: #000;
      text-align: center;
      font-family: Gilroy;
      font-size: 1.4vw;
      font-style: normal;
      font-weight: 800;
      line-height: 115.645%; /* 23.129px */
      text-align: left;
      padding: 0.9vw;
    }
  }

  &__search-container {
    width: 100%;
    height: 3.7vw;
    display: flex;
    align-items: flex-start;
    border-radius: 0.5vw;
    border: 0.2vw solid $MVP-black;
  }
  &__container {
    margin-top: 1.7vw;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    width: 100%;
    height: 1202px;
    border: 0.1vw solid #b6b3b3;
    overflow: hidden;
  }

  &__search-button {
    width: 2.9vw;
    height: 100%;
    border: none;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;

    &-img {
      width: 1.8vw;
      height: 1.8vw;
    }
  }

  &__topbar {
    width: 100%;
    height: 6vw;
    background-color: #c8e7fb;
    box-shadow: 0 0.5vw 0.4vw -0.4vw grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2.2vw;
  }

  &__container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100% - 60px); // Adjust height based on your layout
    padding: 0 2.2vw 3.8vw 2.2vw;
  }

  &__name {
    @include SubHeader;
    margin-left: 2.2vw;
  }
  &__ellipsis {
    width: 2vw;
    height: 0.7vw;
  }

  &__message {
    display: flex;
    flex-direction: row;
    width: 926px;
    margin-bottom: 40px;

    &-img {
      @include Laptop {
        width: 70px;
        height: 70px;
        margin-right: 1.1vw;
      }
    }
    &-name {
      @include Buttons;
    }
    &-time {
      color: rgba(0, 0, 0, 0.2);
      @include Buttons;
    }
    &-content {
      @include Buttons;
    }
  }

  &__message-input-area {
    display: flex;
    align-items: center;
    border-radius: 1vw;
    background-color: rgba(12, 119, 248, 0.1);
    padding: 0.7vw;
    width: 64.3vw;
    height: 5.1vw;
  }

  &__message-input {
    border: none;
    background-color: transparent;
    width: 90%;

    /* Mobile - Buttons */
    color: #000;
    text-align: center;
    font-family: Gilroy;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 800;
    line-height: 115.645%; /* 23.129px */
    text-align: left;
    padding: 12.5px;
  }

  &__search-button--alt {
    border: none;
    background: transparent;
    padding: 0.4vw;
    cursor: pointer;
    width: 4.1vw;
    height: 4.1vw;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
