.hero {
  height: 562px;
  position: relative;
  width: 1244px;
}

.hero .splash-content {
  height: 562px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1244px;
}

.hero .right-content {
  height: 562px;
  left: 688px;
  position: absolute;
  top: 0;
  width: 556px;
}

.hero .overlap-group {
  height: 562px;
  position: relative;
}

.hero .blob {
  height: 482px;
  left: 28px;
  position: absolute;
  top: 40px;
  width: 500px;
}

.hero .image {
  height: 562px;
  left: 0;
  position: absolute;
  top: 0;
  width: 556px;
}

.hero .left-content {
  height: 434px;
  left: 0;
  position: absolute;
  top: 64px;
  width: 651px;
}

.hero .CTA-button-instance {
  background-color: var(--primary-mvp-yellow) !important;
  height: 45px !important;
  left: 0 !important;
  position: absolute !important;
  top: 390px !important;
}

.hero .design-component-instance-node {
  color: var(--primary-mvp-black) !important;
  margin-bottom: -0.08px !important;
  margin-top: -2.08px !important;
}

.hero .description {
  color: #000000;
  font-family: var(--desktop-h2-subheader-font-family);
  font-size: var(--desktop-h2-subheader-font-size);
  font-style: var(--desktop-h2-subheader-font-style);
  font-weight: var(--desktop-h2-subheader-font-weight);
  height: 134px;
  left: 0;
  letter-spacing: var(--desktop-h2-subheader-letter-spacing);
  line-height: var(--desktop-h2-subheader-line-height);
  position: absolute;
  top: 216px;
  width: 557px;
}

.hero .header {
  background-color: transparent;
  height: 192px;
  left: 0;
  position: absolute;
  top: 0;
  width: 653px;
}

.hero .div {
  height: 192px;
  position: relative;
  width: 649px;
}

.hero .header-drop {
  -webkit-text-stroke: 0.5px #000000;
  color: var(--primary-mvp-yellow);
  font-family: "Corben-Bold", Helvetica;
  font-size: 58px;
  font-weight: 700;
  height: 64px;
  left: 4px;
  letter-spacing: 0;
  line-height: 67.1px;
  position: absolute;
  top: 107px;
  white-space: nowrap;
  width: 557px;
}

.hero .header-2 {
  color: #000000;
  font-family: "Corben-Bold", Helvetica;
  font-size: 58px;
  font-weight: 700;
  height: 192px;
  left: 0;
  letter-spacing: 0;
  line-height: 81.2px;
  position: absolute;
  top: 0;
  width: 649px;
}
