@import "https://www.dafontfree.io/download/gilroytypefamily/";

.navbar {
    background: #0954B0;
    color: white;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 25px;
    position: sticky;
    height: 90px;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    // justify-content: flex-end;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: auto;
  }
  
  li {
    margin: 0 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  li:last-child button {
    margin-right: 10px;
  }
  .nav-links {
    display: flex;
  }