@import "https://www.dafontfree.io/download/gilroytypefamily/";

body{
  margin: 0;
  padding: 0;
}

.navbar {
    background: #0954B0;
    color: white;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 20px;
    position: sticky;
    height: 90px;
    width:100%;
    top: 0;
    margin: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;


  
  
    @media screen and (max-width: 480px) {
      img {
        width: 50px; 
      }
    }
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
  }
  
  li {
    margin: 0 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  li:last-child button {
    margin-right: 10px;
  }
  .nav-links {
    display: flex;
  }
  
  img {
    padding-left: 20px;
    width: 300px;
  }

  

