@use "../styles/typography" as *;
@import "../styles/variables";
@import "../styles/mixins";

.home {
  background-color: $MVP-White;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .home_header {
      padding-top: 5%;
      font-size: 24px;
      color: $MVP-black;
      margin: 10px 0;
      font-family: "Corben", serif;
    }

    .home_icon_container {
      background-color: $MVP-Dark-Blue;
      width: 100px;
      height: 100px;
      border-radius: 50%;

      img {
        padding-top: 15%;
      }
    }
  }
}
