@use "../styles/typography" as *;
@import "../styles/variables";
@import "../styles/mixins";

.how {
  background-color: $MVP-White;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mobile {
    
  }

  .how_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .how_header {
      padding-top: 5%;
      font-size: 24px;
      color: $MVP-black;
      margin: 10px 0;
      font-family: "Corben", serif;
    }

    .how_icon_container {
      background-color: $MVP-Dark-Blue;
      width: 70px;
      height: 70px;
      border-radius: 50%;

      img {
        padding-top: 3%;
        height: 71px;
        width: 71px;
      }
    }
  }
}
