@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.events-info {
  margin: 10px 0 70px;
  display: flex;
  width: 78.4vw;
  height: 12vw;
  gap: 1vw;

  &__section {
    width: 78.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-text {
      @include SubHeader;
      width: 73.9vw;
      padding-bottom: 4px;
      border-bottom: solid 0.1vw black;
    }
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    margin-right: 15px;

    &-img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }

  &__details {
    &-title {
      @include SubHeader;
    }

    &-description {
      @include Body;
      margin-top: 0.8vw;
    }

    &-datetime {
      @include Body;
      margin-top: 1vw;
    }
  }

  &__button {
    display: flex;
    width: 15.1vw;
    height: 4.4vw;
    padding: 0.5vw 1.1vw;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.5vw;
    justify-content: space-evenly;
    @include Buttons;
    cursor: pointer;

    &-edit {
      background: $MVP-Dark-Blue;
      color: $MVP-White;
    }
    &-attending {
      background: #52c059;
      color: $MVP-black;
    }
    &-rsvp {
      background: #fff2f2;
      color: $MVP-black;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: start; 
    gap: 0; 
    margin-top: 10px;
  }
}
