@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;

.what-we-do {
  background-color: $MVP-Light-Blue;
  width: 100%;
  font-family: Gilroy;
  padding: 5vw 4vw;

  @include tablet {
    display: flex;
    align-items: center;
  }

  &__left {
    @include tablet {
      width: 60%;
    }

    &-circle {
      &-icon {
        width: 25%;

        @include tablet {
          width: 15%;
        }
      }
    }
  }

  &__heading {
    font-size: 1.5rem;
    margin-bottom: 3vw;
    font-family: Corben;

    @include tablet {
      font-size: 1.8rem;
    }
  }

  &__writing {
    font-size: 1rem;
    margin-bottom: 2vw;

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__right-image {
    width: 100%;

    @include tablet {
      width: 40%;
      height: 20%;
    }
  }
}
