@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;

.what-we-do {
  background-color: $MVP-Light-Blue;
  width: 100%;
  font-family: Gilroy;
  padding: 1rem;

  @include laptop {
    display: flex;
    align-items: center;
    padding: 2rem;
  }

  @include Desktop {
    padding: 7rem;
  }

  &__left {
    @include laptop {
      width: 60%;
    }

    &-circle {
      &-icon {
        width: 25%;

        @include laptop {
          width: 15%;
        }
      }
    }
  }

  &__heading {
    @include LandingPage-Titles;
    margin: 2rem 0;
  }

  &__writing {
    @include LandingPage-Text;
    margin-bottom: 2rem;
  }

  &__right-image {
    width: 100%;

    @include laptop {
      width: 40%;
      height: 20%;
    }
  }
}
