@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.create-communiti {
  background-color: $MVP-Light-Blue;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    border-radius: 16px;
    border: 5px solid #000;
    background: $MVP-White;
    width: 94%;
    height: 80%;
  }

  &__heading {
    @include heading;
  }

  &__content {
    display: flex;
    height: 88%;
    width: 100%;
    align-items: center;

    &-right {
      width: 50%;
    }
    &-left {
      width: 50%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}
