@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.event-overlay {
  display: flex;
  width: 78.5vw;
  height: 100%;
  flex-direction: column;
  gap: 2.2vw;

  &-background {
    width: 100%;
    padding: 10.5vw 10.5vw 10.5vw 10.5vw;
    position: absolute;
    background: $MVP-White;
    z-index: 9;
  }
  &__title {
    @include Heading;
    font-family: Gilroy;
    width: 100%;
  }

  &__form {
    width: 100%;
    flex-direction: column;
    gap: 2.2vw;
    display: flex;
  }

  &__input {
    &-title {
      outline: none;
      height: 100%;
      width: 75%;
      border: none;

      @include Body;

      &-container {
        display: flex;
        padding: 0.8vw 1.1vw;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-radius: 0.5vw;
        border: 0.2vw solid #000;
        width: 100%;
      }
    }

    &-description {
      @include Body;
      width: 100%;
      border: none;
      outline: none;

      &-container {
        width: 100%;
        display: flex;
        padding: 1.1vw;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 0.5vw;
        border: 0.2vw solid #000;
      }
    }

    &-date {
      display: flex;
      padding: 0.8vw 1.1vw;
      justify-content: center;
      align-items: center;
      gap: 0.7vw;
      border-radius: 0.5vw;
      border: 0.2vw solid #000;
      width: 13.5vw;
    }
    &-count {
      @include Body;

      &--description {
        width: 100%;
        text-align: right;
      }
    }

    &-location {
      &-alt {
        margin-left: 3.8vw;
        width: 25.5vw;
        padding: 0.5vw;
        align-items: center;
        gap: 0.5vw;
        border-radius: 0.5vw;
        border: 0.2vw solid #000;
        @include Body;
      }
      &-container {
        width: 38.1vw;
        height: 8.6vw;

        &-alt {
          display: flex;
          align-items: center;
        }
      }
    }

    &-label {
      @include SubHeader;
    }

    &-sub-label {
      @include Body;
      font-family: Gilroy;
      margin-left: 0.8vw;
    }

    &-time-container {
      display: flex;
      margin-bottom: 3.4vw;
      gap: 3.8vw;

      &s {
        display: flex;
        flex-direction: column;
      }
    }

    &-select {
      height: 3.9vw;
      padding: 0.8vw 1.1vw;
      justify-content: center;
      align-items: center;
      gap: 0.7vw;
      border-radius: 0.5vw;
      border: 0.2vw solid #000;

      /* Mobile - Body */
      font-family: Gilroy;
      font-size: 1.5vw;
      font-style: normal;
      font-weight: 800;
      line-height: 115.645%;
      margin-bottom: 3.4vw;
    }

    &-time {
      display: flex;
      flex-direction: row-reverse;
      padding: 0.8vw 1.1vw;
      justify-content: center;
      align-items: center;
      gap: 0.7vw;

      border-radius: 0.5vw;
      border: 0.2vw solid #000;
    }
  }
  &__bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    padding: 0.5vw 1.1vw;
    align-items: center;
    border-radius: 0.5vw;
    border: 0.2vw solid #000;
    background: $MVP-Yellow;
    @include Buttons;
    font-family: Gilroy;
    
    cursor: pointer;

    &--alt {
      background: $MVP-White;
      border: none;
      margin-right: 3.4vw;

      font-family: Gilroy;
    }
  }
  &__button-containers {
    display: flex;
    justify-content: flex-end;
  }

  &__img {
    width: 24.1vw;
  }

  &__picture-title {
    @include SubHeader;
  }

  &__text {
    text-align: center;
    @include Body;

    &--alt {
      font-family: Gilroy;
      font-size: 1.5vw;
      font-style: normal;
      font-weight: 800;
      line-height: 115.645%;
      margin-bottom: 3.4vw;
    }
  }
}
