@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.signuppage {
  display: flex;
  flex-direction: column;
  padding: 3vw 5vw;
  align-items: center;

  @include laptop {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: unset;
  }

  &__image {
    width: 50%;
    margin: 1rem 0;

    @include laptop {
      margin: 1rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;

    @include laptop {
      width: 60%;
      height: 100%;
      justify-content: space-evenly;
    }
  }

  &__heading {
    width: 100%;
    font-size: 8vw;
    margin: 1rem 0;
    text-align: center;

    @include laptop {
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }
  }

  &__writing {
    margin: 2rem;
    @include laptop {
      margin: 1rem;
      font-size: 2vw;
    }
  }

  &__sso {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    @include laptop {
      justify-content: center;
    }

    &-button {
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      width: 22%;
    }

    &-icon {
      width: 100%;

      @include laptop {
        width: 50%;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  &__input {
    box-shadow: 0px 0.2rem 0.2rem 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 3vw 3vw;
    border-radius: 6vw;
    margin: 0.5rem 0;
    border: 2px solid $MVP-black;
    font-family: "Gilroy";
    font-weight: 700;
    font-size: 6.2vw;

    &:focus {
      border: 2px solid $MVP-Yellow;
    }
    &::placeholder {
      color: $MVP-Light-Blue; /* Change the placeholder text color to MVP-Blue */
    }

    &--margin {
      margin: 0.5rem 0 1rem 0;
    }

    @include laptop {
      width: 50%;
      font-size: 1.4vw;
      padding: 1vw 1vw;
    }
  }

  &__button {
    @include laptop {
      width: 50%;
      margin: 0 0 0.5rem 0;
    }
  }
}
