@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.signuppage {
  display: flex;
  flex-direction: column;
  padding: 3vw 5vw;
  align-items: center;

  @include laptop {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: unset;
  }

  &__image {
    width: 50%;
    margin: 1rem 0;

    @include laptop {
      margin: 1rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;

    @include laptop {
      width: 60%;
      height: 100%;
      justify-content: space-evenly;
    }
  }

  &__heading {
    @include SSO-Title;
    width: 100%;
    margin: 1rem 0;
    text-align: center;

    @include laptop {
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }
  }

  &__writing {
    margin: 0.5rem;
    @include laptop {
      margin: 1rem;
      font-size: 2vw;
    }
  }

  &__sso {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    @include laptop {
      justify-content: center;
    }

    &-button {
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      width: 22%;
    }

    &-icon {
      width: 75%;

      @include laptop {
        width: 50%;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  &__input {
    @include SSO-Input;
  }

  &__button {
    @include laptop {
      width: 50%;
      margin: 0 0 0.5rem 0;
    }
  }
}
