@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

* {
  font-family: Gilroy;
}
.event-form-container {
display: flex;
width: 79vw;
height: 150vw;
padding: 0.5rem;
flex-direction: column;
align-items: flex-start;
gap: 2rem;



  input[type="text"],
  input[type="date"],
  input[type="time"],
  textarea {
    width: 100%;
    border: 1px solid $MVP-black;
    border-radius: 5%;
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
   

    &:first-of-type {
      background-color: $MVP-White;
      color: $MVP-black;
    }

    &:last-of-type {
      background-color: $MVP-Yellow;
      color: $MVP-black;
      margin-left: 10px;
    }
  }

}
