@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/typography' as *;

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3vw 0;

    @include tablet {
        background-color: #D9D9D9;

        padding: 3vw 4vw;
        justify-content: flex-start;
    }
    
    &__logo {
        width: 80%;

        @include tablet {
            width: 30%;
        }
    }
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3vw 5vw;

    @include tablet {
        flex-direction: row-reverse;
    }

    &__image {
        width: 35vw;
        height: 35vw;

        margin-bottom: 5vw;

        background-color: #D9D9D9;

        @include tablet {
            width: 45vw;
            height: 45vw;
        }
    }

    &__content {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 50vh;

        @include tablet {
            width: 55%;
            height: 70vh;
        }
    }

    &__heading {
        width: 100%;

        font-size: 2.1rem;

        @include tablet {
            margin-bottom: 4vw;;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 40%;
        height: 27vw;

        @include tablet {
            width: 100%;
            height: 17vw;
        }

        &-button {
            border: none;
            border-radius: 32px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
            padding: 1vw 0;
    
            color: $MVP-White;
            font-family: "Gilroy";
            font-size: 2rem;
    
            &--login {
                background-color: $MVP-black;
            }
    
            &--signup {
                background-color: #525354;
            }

            @include tablet {
                width: 85%;
            }
        }
    }

    &__writing {
        @include tablet {
            padding: 1vw 7vw 1vw 0;
        }
    }

    &__alt-buttons {
        display: flex;
        justify-content: space-between;

        width: 65%;

        @include tablet {
            flex-direction: column;
            
            width: 100%;
            height: 27vw;
        }

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #D9D9D9;

            width: 15vw;
            height: 15vw;

            @include tablet {
                width: 85%;
                height: fit-content;

                font-family: "Gilroy";
                font-size: 1.5rem;

                padding: 1.5vw 0;

                border-radius: 32px;
            }

            &--google {
                @include tablet {
                    &::after {
                        content: "Google";
                    }
                }
            }

            &--facebook {
                @include tablet {
                    &::after {
                        content: "Facebook";
                    }
                }
            }

            &--apple {
                @include tablet {
                    &::after {
                        content: "Apple";
                    }
                }
            }
        }
    }

    &__icon {
        width: 80%;

        @include tablet {
            display: none;
        }
    }
}

// .yellow-shade {
//     &::after {
//         color: red;
//         content: "Communiti!";

//         position: relative;
//         top: .5vw;
//         right: 52vw;
//         z-index: -1;
//     }

    
// }