@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/typography' as *;

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3vw 0;
    
    &__logo {
        width: 80%;
    }
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3vw 5vw;

    &__image {
        width: 35vw;
        height: 35vw;

        margin-bottom: 5vw;

        background-color: #D9D9D9;
    }

    &__content {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 50vh;
    }

    &__heading {
        width: 100%;

        font-size: 2.1rem;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 40%;
        height: 27vw;

        &-button {
            border: none;
            border-radius: 32px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
            padding: 1vw 0;
    
            color: $MVP-White;
            font-family: "Gilroy";
            font-size: 2rem;
    
            &--login {
                background-color: $MVP-black;
            }
    
            &--signup {
                background-color: #525354;
            }
        }
    }

    &__writing {
        // margin: 6vw 0;
    }

    &__alt-buttons {
        display: flex;
        justify-content: space-between;

        width: 65%;

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #D9D9D9;

            width: 15vw;
            height: 15vw;
        }
    }

    &__icon {
        width: 80%;
    }
}

// .yellow-shade {
//     &::after {
//         color: red;
//         content: "Communiti!";

//         position: relative;
//         top: .5vw;
//         right: 52vw;
//         z-index: -1;
//     }

    
// }